.chats-body{
    padding: 0px;
}

.chat--main {
    padding-top: 115px;
    background-image: url("../images/bgimg.png");
    min-height: 1000vh;
    /* height: 100%; */
}

.chat-header{
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.2);
}

.chat__write--container{
    background-color: #f9f9fa;
    position: fixed;
    bottom: 0px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;

    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), 0px -3px 10px rgba(0, 0, 0, 0.2); */
}

.chat__write {
    bottom: 0px;
    width: 100%;
    border-radius: 0;
    padding: 20px 60px;
    width: 100%;
    border: none;
    font-size: 14px;
  }
  
  .chat__icon-left {
    position: absolute;
  }
  
  .chat__icon-right {
    position: absolute;
    right: 10px;
  }
  
  .chat__write:focus {
    outline: none;
  }
  
  .chat__icon {
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .chat__write:focus ~ .chat__icon {
    opacity: 0;
  }

.chat__icon-right .chat__write-mic{
    margin-left: 5px;
}

.chat--main .chat__messages{
    border-top: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    padding-top: 30px;
}

.chat__messages .chat__timestamp{
    padding: 5px 10px;
    margin-bottom: 30px;
    background-color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.message{
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    margin-bottom: 20px;
}

.incoming-message .message__timestamp{
    align-self: flex-end;
    font-size: 12px;
    margin: 0px 5px;
}

.sent-message .message__timestamp{
    align-self: flex-end;
    font-size: 12px;
    margin: 0px 5px;
}

.incoming-message .message__author{
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
    font-size: 12px;
}

.incoming-message{
   align-self: flex-start;
}

.sent-message{
    align-self: flex-end;
}

.incoming-message img {
    width: 40px;
    border-radius: 20px;
    margin-right: 20px;
  }

  .message .message__bubble {
    background-color: white;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    display: block;
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    /* box-shadow: 0 30px 60px -8px rgba(50, 50, 88, 0.25),
      0 18px 36px -16px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025); */
  }

.incoming-message .message__bubble{
    border-top-left-radius: 0px;
    background-image: linear-gradient(to right, #ee9ca7, #eb82ca);
}

.sent-message .message__bubble{
    border-top-right-radius: 0px;
    background-image: linear-gradient(to left, #8ae988, #41e7b8);
}