.friend{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend__column .friend__avatar{
    width: 50px;
    border-radius: 38%;
    margin-right: 10px;
}

/* friend my user avatar & more my user avatar */
.friend__avatar.g-avatar{
    width: 70px;
}

/* chats user avatar */
.friend__avatar.m-avatar{
    width: 60px;
}

/* group chat user avatar */
.friend__avatar--group{
    width: 27px;
    height: 27px;
    border-radius: 38%;
    margin-right: 3px;
}

.friend__avatar--group:nth-child(2n){
    margin-right: 0px;
}

.friend__column .friend__group-chat-box{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 10px;
}

.friend .friend__column{
    display: flex;
    align-items: center;
}

.friend__content .friend__username {
    display: block;
    margin-bottom: 5px;
    margin-right: 5px;
}

.friend__content .friend__content-exbox{
    display: flex;
    margin-bottom: 5px;
}

.friend__column .friend__preview,
.friend__column .friend__status,
.friend__column--time-and-badge .chat__timestamp,
.friend__column i,
.friend__column .chat__user-cnt{
    opacity: 0.7;
}

.friend__column .chat__user-cnt{
    margin-right: 5px;
}

.friend__column .friend__preview,
.friend__column .friend__status,
.friend__column--time-and-badge .chat__timestamp{
    font-size: 13px;
}

.chats .chats__chat{
    margin-bottom: 30px;
}

.friend .friend__column--time-and-badge{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.friend__column--time-and-badge .chat__timestamp{
    margin-bottom: 5px;
}