.header{
    background-color: white;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 0px;
    width: 100%;
}

.header .header__title{
    font-size: 24px;
    font-weight: 500;
}

.header .header__icon{
    font-size: 20px;
    margin-left: 22px;
    cursor: pointer;
}

.header .header__chat-column{
    display: flex;
    align-items: center;
}

.header__chat-column i {
    font-size: 20px;
    margin-right: 20px;
}

.header .header__setting-column{
    font-size: 20px;
}