.nav {
    background-color: #f9f9fa;
    padding: 20px 35px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-top: 1px solid #f1f1f1;
}

.nav .nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.nav__list .nav__list-item{
    position: relative;
}

@keyframes spinBadge{
    0%{
        transform: rotateY(.5turn);
    }
    50%{
        transform: rotateY(.5turn);
    }
    100%{
        transform: none;
    }
}

.nav__list-item .nav__badge{
    position: absolute;
    top: -8px;
    right: -10px;
    animation: spinBadge 1s ease-out infinite;
}

.g-badge{
    color: white;
    background-color: #ff6128;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 11px;
}

@keyframes scaleIcon{
    0%, 100%{
        transform: scale(1.5, 1.5);
    }
    50%{
        transform: none;
    }
}

.nav__list--special:hover{
    animation: scaleIcon 0.5s ease-in-out infinite;
}

@keyframes appearNav{
    from{
        transform: translateY(60px);
    }
    to{
        transform: none;
    }
}

.nav{
    transform: translateY(50px);
    animation: appearNav .5s ease-out forwards;
    animation-delay: .5s;
}