.tab-bar{
    padding: 0px 20px;
    position: fixed;
    top: 30px;
    left: 0px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #efefef;
    background-color: white;
}

.tab-bar .tab-bar__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-bar__list .tab-bar__list-item:first-child{
    opacity: 1;
    border-bottom: 2px solid black;
    text-align: center;
}

.tab-bar__list .tab-bar__list-item{
    opacity: 0.5;
    padding: 30px 0px;
    cursor: pointer;
}

.tab-bar__list .tab-bar__list-item:hover{
    opacity: 1;
    border-bottom: 2px solid black;
    
}