.status-bar{
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.status-bar i,
.status-bar .status-bar__clock{
    opacity: 0.8;
}

.status-bar i{
    font-size: 14px;
}

.status-bar__column .fa-volume-mute,
.status-bar__column .status-bar__battery-level {
    margin-left: 5px;
}